<main>
<div>
<div>
<div class="display-6">
<i>Виробник: </i> <button type="button" class="btn btn-danger btn-lg">{{make}}</button>
</div>
<hr>
<div class="display-7">
<i>Модель: </i> <button type="button" class="btn btn-primary btn-sm">{{model}}</button>
</div>
<hr>
<div class="display-8">
<i>Рік: </i> <button type="button" class="btn btn-warning btn-sm">{{year}}</button>
</div>
<hr>
<div class="display-10">
<i>Колір: </i> <button type="button" class="btn btn-secondary btn-sm">{{color}}</button>
</div>  
<div>
<br>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6">Двигун</p>
</div>
</div>
</div>
</div>
<div>
{{#with engine}}
<table>   
<tr>
<td>Тип палива:</td> <td>{{type}}</td>
</tr>
<tr>
<td>Об'єм двигуна:</td> <td>{{displacement}}</td>
</tr>
<tr>
<td>Потужність:</td> <td>{{horsepower}}</td>
</tr>
<tr>
<td>Крутний момент:</td> <td>{{torque}}</td>
</tr>   
<tr>
<td>Трансмісія:</td> <td>{{transmission.type}}</td>
</tr> 
<tr>
<td>Кількість передач:</td> <td>{{transmission.gears}}</td>
</tr> 
</table>
{{/with}}
</div>
<br>
<div>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6">Росхід палива</p>
</div>
</div>
</div>
</div>
<div>
{{#with fuel_economy}}
<table>   
<tr>
<td>Місто:</td> <td>{{city}} gal/m</td>
</tr>
<tr>
<td>На трасі:</td> <td>{{highway}} gal/m</td>
</tr>
<tr>
<td>Змішаний:</td> <td>{{combined}} gal/m</td>
</tr>
</table>
{{/with}}
<br>
<div>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6">Інтер'єр</p>
</div>
</div>
</div>
</div>
<div>
{{#with features.interior.seats}}
<a>Сидіння -</a> {{material}}
<br>
<a>Колір -</a> <button type="button" class="btn btn-dark btn-sm">{{color}}</button></td>
{{/with}}
<br>
{{#with features.interior.dashboard}}
<a>Панель -</a> {{material}}
<br>
<a>Колір -</a> <button type="button" class="btn btn-dark btn-sm">{{color}}</button></td>
{{/with}}
<br>
{{#with features.interior.audio}}
<a>Аудіосистема -</a> {{system}}
<br>
<a>Динаміки -</a> {{speakers}}
{{/with}}
<br>
{{#with features.interior}}
<a>Кондиціонер</a>
{{#if seats.ventilated}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
<br>
<a>Підігрів</a>
{{#if seats.heated}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
<br>
<h5>Display:</h5>
<a>Тип екрана:</a>   
{{#with dashboard.display}}
<td><button type="button" class="btn btn-outline-dark btn-sm" disabled>{{type}}</button></td>
{{/with}}
<a>Розмір екрана:</a>   
{{#with dashboard.display}}
<button type="button" class="btn btn-outline-dark btn-sm" disabled>{{size}}</button>
{{/with}}
<a>Розширення:</a>   
{{#with dashboard.display}}
<button type="button" class="btn btn-outline-dark btn-sm" disabled>{{resolution}}</button>
{{/with}}
<br>
<a>Сабвуфер</a>
{{#if audio.subwoofer}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
<a>bluetooth</a>
{{#if audio.bluetooth}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
<a>USB</a>
{{#if audio.USB}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
<a>Touchscreen:</a>
{{#if dashboard.display.touchscreen}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
</div>
</div>
</div>
</div>
{{/with}}
<br>
<div>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6">Екстер'єр</p>
</div>
</div>
</div>
</div>
{{#with features.exterior.wheels}}
<h5>Wheels:</h5>
<a>Розмір -</a> {{size}}
<br>
<a>Тип -</a> {{type}}
<br>
<a>Колір -</a> <button type="button" class="btn btn-secondary btn-sm">{{color}}</button></td>
{{/with}}
<br>
<br>
<div>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6">Безпека</p>
</div>
</div>
</div>
</div>
{{#with features.safety.airbags}}
<h5>Airbags:</h5>
<a>Передні - </a>{{front}} шт,
<a>Бокові - </a>{{side}} шт,
<a>Коліно- </a>{{knee}} шт,
<a>Задні - </a>{{rear}} шт,
{{/with}}
<br>
{{#with features.safety}}  
<br>
<h5>Додаткові функції:</h5> 
<br> 
<tr class="border">
<a>Моніторинг сліпих зон: </a>
<td class="border">{{#if assistance.blind_spot_monitoring}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
</tr>
</td>
<br>
<br>
<a>Відстеження ситуації ззаду:</a>
<td> {{#if assistance.rear_cross_traffic_alert}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
</td>
<br>
<br>
<tr class="border">
<a>Попередження про виїзд зі смуги руху:</a>
<td> {{#if assistance.lane_departure_warning}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
</tr>
</td>
<br>
<br>
<tr class="border">
<a>Адаптивний круіз-корнтрол:</a>
<td>
{{#if assistance.adaptive_cruise_control}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
</tr>
</td>
<br>
<br>
<tr class="border">
<a>Попередження про зіткнення:</a>
<td> {{#if assistance.adaptive_cruise_control}}
<button type="button" class="btn btn-success btn-sm">Так</button>
{{else}}
<button type="button" class="btn btn-danger btn-sm">Ні</button>
{{/if}}
</td>
</tr>
{{/with}}
<br>
<br>
<div>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6">Ціни</p>
</div>
</div>
</div>
</div>
<div>
{{#with price}}
<a>Базова комплектація:</a> <a>{{base}}$</a>
<br>
<a>Доставка:</a> <a>{{destination}}$</a>
<br>
<a>Опції:</a>
<br>
<a>GPS</a> - <a>{{options.navigation}}$</a>,
<a>Люк</a> - <a>{{options.moonroof}}$</a>,
<a>Преміум колір</a> - <a>{{options.premium_paint}}$</a>.
<br>
<div>
<div class="row">
<div class="bg-secondary"> 
<div class="border-outline-info">
<p class="display-6"><h2> Total: {{total}}$</h2> </p>
</div>
</div>
</div>
</div>
{{/with}}
</div>
</main>