<main>

<p class="fs-1 fw-semibold me-2">{{header}}</p>

<div>
{{#with purchase}}
<ul class="nav nav-tabs">
{{#each tabs}}  
{{#if @first}}
<li class="nav-item">
<a class="nav-link active fw-semibold" aria-current="page" href="#">{{this}}</a>
</li>
{{/if}}
{{#if @last}}
<li class="nav-item">
<a class="nav-link" href="#">{{this}}</a>
</li>
{{/if}}
{{/each}}
{{/with}}
</div>

<div class="row mt-4 mb-5">
<div class="col-5 position-absolute start-0 mb-3">  
{{#with purchase.actionBlock.input}}
<div class="col-3 container input-group position-absolute mb-3">
<input type="text" class="form-control rounded m-2 mb-3" placeholder="{{placeholder}}">
{{/with}}
{{#with  purchase.actionBlock}}
{{#each buttons}}
{{#if isSuccess}}
<button href="{{link}}" class="input-group-text btn btn-success fw-semibold rounded m-2 mb-3" type="button">{{text}}</button>
{{/if}}
{{#if isOutline}}
<button href="{{link}}" class="btn btn-outline-success fw-semibold rounded m-2 mb-3" type="button">{{text}}</button>
{{/if}}
{{#if isDanger}}
<button href="{{link}}" class="btn btn-outline-danger fw-semibold rounded m-2 mb-3" type="button">{{text}}</button>
{{/if}}
{{/each}}
</div>
{{/with}}
</div>
</div>
<div class="border-bottom pb-3"></div>

=========================================



 <div class="container-fluid col-12 row border-bottom rounded">

<div class="container-fluid col-6 row ">
{{#with purchase}}
{{#each itemList}}
{{!-- Про товар --}}
<div class="container-fluid row col-8 ">
    <p class="fs-5">{{number}}</p>
    <p class="fs-5">{{status}}</p>
</div>
{{!-- Про товар --}}





{{!-- ціна --}}
<div class="container-fluid row col-4 ">
    {{#with amount}}
    <p class="fs-5 fw-medium">{{title}}</p>
    <p>{{value}}</p>
    {{/with}}
</div>
{{!-- ціна --}}

</div>

<div class="container-fluid col-4 row">

{{!-- Фото --}}
    <div class="container-fluid col-12 row p-3  g-2">
{{#each images}}
        <div class="container-fluid col-4 row rounded d-block">
    <img src="{{this}}" class="img-fluid img-thumbnail rounded d-block">
    </div>
{{/each}}
    </div>
{{!-- Фото --}}

 </div>

{{!-- Кнопки --}}
        <div class="col-2">
                         {{#with button}}
                <div class="col-8 p-3">
                       {{#if isPrimary}}
                       <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                       {{else}}
                       <a class="btn btn-secondary" disabled>{{text}}</a>
                       {{/if}}
                 
                </div>
                        {{/with}}
                        {{/each}}
{{/with}}
        </div>
</div>

====================================


{{#with userInfo}}
<div class="col-12 row p-3 mt-2-3 g-2">
<p class="fs-2 fw-medium ms-2">{{title}}</p>
<div class="row col-12 container border p-3 my-3 g-1">
{{#with profileData}}
<p class="fs-3 fw-medium">{{title}}</p>
<div class="col-12 row border p-1 g-1">
{{#with fullName}}
<div class="col-4 p-1 g-1">
{{#with surname}}
<p>{{title}}</p>
<p class="fw-bold">{{value}}</p>
{{/with}}
</div>
<div class="col-4 p-1 g-1">
{{#with name}}
<p>{{title}}</p>
<p class="fw-bold">{{value}}</p>
{{/with}}
</div>
<div class="col-4 p-1 g-1">
{{#with middleName}}
<p>{{title}}</p>
<p class="fw-bold">{{value}}</p>
{{/with}}
</div>
{{/with}}
</div>
{{/with}}

{{#with profileData.otherInfo}}
<div class="col-12 row container border my-3 g-1">
<div class="col-4 p-1 g-1">
{{#with birthday}}
<p>{{title}}</p>
<p class="fw-bold">{{value}}</p>
{{/with}}
</div>
<div class="col-4 p-1 g-1">
{{#with sex}}
<p>{{title}}</p>
<p class="fw-bold">{{value}}</p>
{{/with}}
</div>
<div class="col-4 p-1 g-1">
{{#with language}}
<p>{{title}}</p>
<p class="fw-bold">{{value}}</p>
{{/with}}
</div>
</div>
{{/with}}
{{/with}}

{{#with userInfo}}
<div class="col-12 row container border my-0 g-1"> 
{{#each buttons}}
<div class="col-4 p-3 pb-4 g-2">
{{#if isPrimary}}
<a class="btn btn-primary px-3 mx-0" href="{{link}}">{{text}}</a>
{{/if}}
{{#if isSecondary}}
<a class="btn btn-outline-secondary fw-semibold px-3 mx-0" href="{{link}}">{{text}}</a>
{{/if}}
{{#if isDanger}}
<a class="btn btn-outline-danger fw-semibold px-3 mx-0" href="{{link}}">{{text}}</a>
{{/if}}
</div>
{{/each}}
</div>
{{/with}}
</div>

=============================



{{#with userInfo.recipients}}
<div class="col-12 row container border p-3 my-3 g-1">
<p class="fs-3 fw-medium py-2">{{title}}</p>
{{#each users}}    
<div class="col-1 card card-body mx-3">
<p>{{title}}</p>
<p class="fw-medium">{{name}}</p>
<p>{{phone}}</p>
<div class="col-6">
{{#with button}}
<a type="button" class="btn btn-primary" href="{{link}}">{{text}}</a>
{{/with}}
</div> 
</div>
{{/each}}
</div>
{{/with}}

===========================




{{#with userInfo.contacts}} 
<div class="row col-12 container border p-3 my-3 g-1"> 
<p class="fs-3 fw-medium py-1">{{title}}</p> 
{{#each contactData}}
<div class="col-3 g-2 card card-body mx-1">
    <p>{{title}}</p>
   <p class="fw-medium">{{value}}</p>
     
                {{#with buttons}}
                        {{#if isPrimary}}
                      <button class="btn btn-primary" href="{{link}}">{{text}}</button> 
                        {{/if}}
                {{/with}}    
               

</div>


<div class="col-3 g-2 card card-body mx-1">
   
    <p>{{title}}</p>
   <p class="fw-medium">{{value}}</p>
       

                {{#each buttons}}
                        {{#if isPrimary}}
                      <button class="btn btn-primary" href="{{link}}">{{text}}</button> 
                        {{/if}}
                {{/each}}

</div>


<div class="col-3 g-2 card card-body mx-1">
   
    <p>{{title}}</p>
   <p class="fw-medium">{{value}}</p>
    
  {{/each}}
                {{#each buttons}}
                        {{#if isPrimary}}
                      <button class="btn btn-primary" href="{{link}}">{{text}}</button> 
                        {{/if}}
                {{/each}}

</div>

</div>
{{/with}}
    </div>



</main>