<div class="row">
<div class="col-12 mt-4 mb-4">  
{{#each goodsBlock}}
<div class="card mb-4">
<div class="row gy-2">
<div class="col-2 p-1">
<img src="{{image}}" class="card-img-top rounded p-3" alt="{{name}}">
</div>
<div class="col-md-4 p-4">
<div class="card-body">
<h5 class="card-title">{{name}}</h5>
<p class="card-text">{{description}}</p>
</div>
</div>
{{#with price}}
<div class="col-md-2 p-4">
<div class="card-body">
<p class="card-title">{{title}}</p>
<h4 class="card-text">{{value}}</h4>
</div>
</div>
{{/with}}
<div class="col-md-2 p-4">
<div class="card-body">
<p class="card-text">{{amount}}</p>
</div>
</div>  
<div class="col-2 p-2">
{{#each buttons}}
<div class="card-body">
{{#if isPrimary}}
<button type="button" class="btn btn-primary mt-4">{{text}}</button>
{{/if}}
{{#if isDanger}}
<button type="button" class="btn btn-outline-danger fw-semibold px-4 mb-4">{{text}}</button>
{{/if}}
</div>
{{/each}}
</div> 
</div>
</div>
{{/each}}
</div>
</div>