<div class="container-fluid col-12 row border-bottom rounded">
<div class="container-fluid col-6 row">
<div class="container-fluid col-8">
<p class="fs-6">{{number}}</p>
<h5 class="text py-1">{{status}}</h5>
</div>

<div class="container-fluid col-4">
{{#with amount}}
<p class="card-title">{{title}}:</p>
<h5 class="card-text py-2">{{value}}</h5>
{{/with}}
</div>
</div>

<div class="container-fluid col-4">
<div class="container-fluid col-12 row p-3 g-2">
{{#each images}}
<div class="container-fluid col-4 rounded d-block">
<img src="{{this}}" class="img-fluid img-thumbnail rounded d-block">
</div>
{{/each}}
</div>
</div>

<div class="container-fluid col-2 p-2">
{{#with button}}
<div class="container-fluid col-8 p-3">
{{#if isPrimary}}
<a href="{{link}}" class="btn btn-primary">{{text}}</a>
{{else}}
<a class="btn btn-secondary" disabled>{{text}}</a>
{{/if}}
</div>
{{/with}}
</div>
</div>