
<div class="row my-3 px-3 py-3 border-bottom">

<div class="card p-3 my-4">

<div class="card">
{{#with title}}
<div class="card-header">
<div class="fs-5 fw-semibold">{{userName}}</div>
<p class="fs-6">{{caption}}</p>
<div class="fs-6fw-italic">{{date}}</div>
</div> 
{{/with}}


{{#with reviewBody}}
<div class="card-body">

{{#with seller}}
{{> seller}}
{{/with}}

{{#with rating}}
<p class="text-body py-3 my-2">{{title}}: {{value}}</p>
{{/with}}

{{#each text}}
<p class="text-body pb-3 my-2 fs-6 fw-light">{{this}}</p>
{{/each}}

{{#with advantages}}
<p class="fs-5 lh-1 fw-semibold ">{{title}}</p> 
<p class="fs-6 lh-1 fw-light fw-italic pb-3">{{text}}</p>
{{/with}}


{{#with disadvantages}}
<p class="fs-5 lh-1 fw-semibold ">{{title}}</p> 
<p class="fs-6 lh-1 fw-light fw-italic pb-3">{{text}}</p>
{{/with}}

{{#if images}}
<div class="card-footer p-1 m-0">
<div class="row justify-content-start">


<div class="row">
{{#each images}}
<div class="col-1 rounded d-block">
<img src="{{this}}" class="img-fluid img-thumbnail rounded d-block">
</div>
{{/each}}
</div>


</div>
</div>
{{/if}}

</div>


</div>

{{#each coments}}
<div class="row my-3 py-3 justify-content-end">
<div class="col-11">
<div class="card card-body">
<p class="fs-5 lh-1 fw-semibold">{{userName}}</p>
<p class="fs-6 lh-1 fw-light fw-italic">{{date}}</p>
<p class="text-body fs-6 lh-1">{{text}}</p>
</div>
</div>
</div>
{{/each}}


{{/with}}


</div>


</div>
