<section>
{{#with navigation}}
<div class="card m-2">  
{{#each links}}           
<div class="nav">
{{#if @last}}
<li class="nav-item"> 
<a class="nav-link disabled" aria-current="page" href="{{href}}">{{text}}</a>
</li> 
{{else}}
<li class="nav-item">
<a class="nav-link active" href="{{href}}">{{text}}</a>
{{/if}}
{{/each}}
</li>
</div>
</div>
{{/with}}
</section>